# Google Gemini Pro API key (required for AI report generation)
GEMINI_API_KEY=AIzaSyBudLDS7xo8bdNJvSGo4KSjBhJ7uCj23Eo

DEEPSEEK_API_KEY=ysk-5c54529740434a80842e271613d4e0c2


EXA_API_KEY=ba44a774-8b98-44cc-abc0-0a0b55c11a9d

# Upstash Redis (required for rate limiting)
UPSTASH_REDIS_REST_URL=your_upstash_redis_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token

# Bing Search API (Optional - if using Bing as search provider)
AZURE_SUB_KEY=your-azure-subscription-key

# Google Custom Search API (Optional - if using Google as search provider)
GOOGLE_SEARCH_API_KEY=your-google-search-api-key
GOOGLE_SEARCH_CX=your-google-search-cx 

# Google Analytics Id
NEXT_PUBLIC_GOOGLE_MEASUREMENT_ID=your-google-measurement-id
